.height_style{
  height: 100vh;
}
.images_sign_in{
  display: flex;
  align-items: center;
  justify-content: center;
}
.images_sign_in img{
  width: 30px;
  margin-right: 10px;
  cursor: pointer;
}
.btn_container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn_container button{
  width: 200px;
}
.user_type_and_reset_field{
  display: flex;
  align-items: center;
  justify-content: space-between;
}